.conteinerfilmeDestaque{
    background-size: cover;
    height: 470px;
    object-fit: contain;
    color: white;
    width: 100%;
    background-position-x: center;
    background-repeat: no-repeat;
    margin-bottom: 20px;
    @media (min-width: 1024px) {
      height: 750px;
    }
    @media (min-width: 1920px) {
      height: 1000px;
    }
} 
.infoFilmeDestque{
    margin-left: 30px;
    padding-top: 140px;
    display: flex;
    flex-direction: column;
    gap:20px;
    width: 50%;
    background-color: transparent !important;
    @media (min-width: 1024px) {
      padding-top: 250px;
    }
    .tituloFilmeDestaque{
        font-size: 2.5rem;
        font-weight: 800;
        padding-bottom: 0.3rem;
        background-color: transparent !important;
        @media (min-width: 1440px) {
          font-size: 4rem;
        }
    }
    .buttonsFilmeDestaqueConteiner {
      align-items: center;
      display: flex;
      gap: 10px;
      background-color: transparent !important;
      .buttonFilmeDestaque{
          text-align: center;
          cursor: pointer;
          color: #fff;
          outline: none;
          border: none;
          font-weight: 700;
          padding: 15px;
          border-radius: 5px;
          width: 100px;
          height: 60px;
          background-color: rgba(24, 24, 24, 0.5);
          &:hover {
            color: #000;
            background-color: #e6e6e6;
            transition: all 0.2s;
          }
        }
    }    
}
  

  

  

